---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { Store } from "../../markket/index.d";
import PageContent from "../../components/content.blocks";

import SubscribeForm from "../../components/subscribe.form";
import { IconChevronsLeft } from "@tabler/icons-react";

const stores = await getCollection("store");
const store = stores?.[0]?.data as any as Store;

const pages = await getCollection("pages");
const NewsletterPage = pages.find(
  (page) => page.data.slug === "newsletter"
)?.data;
---

<Layout store={store} page={NewsletterPage as any}>
  <div class="relative pt-8 pb-4 px-4">
    <div class="mb-8">
      <a
        href={`/`}
        class="text-gray-400 hover:text-white transition-colors inline-flex items-center gap-2"
      >
        <IconChevronsLeft size={16} />
        Back to home
      </a>
    </div>
  </div>
  <div class="min-h-screen bg-gradient-to-b from-gray-50 to-white">
    <!-- Hero Section -->
    <div class="relative pt-20 pb-16 px-4">
      <div class="max-w-4xl mx-auto text-center">
        <h1
          class="text-4xl md:text-5xl font-bold text-gray-900 mb-6 bg-gradient-to-r from-blue-600 to-purple-600 bg-clip-text text-transparent"
        >
          {NewsletterPage?.Title || "Newsletter "}
        </h1>
        <p class="text-xl text-gray-600 max-w-2xl mx-auto">
          <PageContent params={{ page: NewsletterPage as any }} />
        </p>
      </div>

      <div class="relative pt-20 pb-16 px-4">
        <SubscribeForm client:load store={store} />
      </div>
      <div class="max-w-2xl mx-auto text-center rounded-lg overflow-hidden">
        {
          NewsletterPage?.SEO?.socialImage && (
            <figure class="relative">
              <img
                class="w-full h-auto"
                src={NewsletterPage?.SEO?.socialImage?.url}
                alt="Newsletter"
              />
            </figure>
          )
        }
      </div>
    </div>
  </div>
</Layout>
